<nav class="navbar">
    <div class="navbar-brand">
        <a href="/dashboard">Apêgo</a>
    </div>
    <div class="navbar-links">
        <a href="/dashboard">Adicionar Casa</a>
        <a href="/alugar">Alugar Casa</a>
        <a href="/logout" class="botao-sair">Sair</a>
    </div>
</nav>